.DS_Store
.vscode/
.idea/
templated/
kustomize/base/charts/
kustomize/**/charts/
kustomize/**/helm_rendered_spec.yaml
kustomize/**/kustomized_helm_rendered_spec.yaml
kustomize/base/resources.yaml
jobs/reindex/values-reindex-*.yaml
completed.txt
ids.json
alfresco-content-services/
s3-config/
tools/scripts/logs/