apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - resources.yaml
  - patch-live-indexing-content-pdb.yaml
  - patch-live-indexing-metadata-pdb.yaml
  - patch-live-indexing-path-pdb.yaml
  - patch-repository-pdb.yaml
  - patch-router-pdb.yaml
  - patch-tika-pdb.yaml
  - patch-transform-imagemagick-pdb.yaml
  - patch-transform-libreoffice-pdb.yaml
  - patch-transform-misc-pdb.yaml
  - patch-transform-pdfrenderer-pdb.yaml


patches:
  - path: patch-ingress-repository.yaml
  - path: patch-ingress-share.yaml
  - path: patch-repository.yaml
  - path: patch-live-indexing-path.yaml
  - path: patch-live-indexing-metadata.yaml
  - path: patch-live-indexing-mediation.yaml
  - path: patch-live-indexing-content.yaml
  - path: patch-router.yaml
  - path: patch-tika.yaml
  - path: patch-transform-misc.yaml
  - path: patch-transform-libreoffice.yaml
  - path: patch-transform-imagemagick.yaml
  - path: patch-security-contexts/alfresco-content-services-alfresco-repository.yaml
  - path: patch-security-contexts/alfresco-content-services-alfresco-search-enterprise-content.yaml
  - path: patch-security-contexts/alfresco-content-services-alfresco-search-enterprise-metadata.yaml
  - path: patch-security-contexts/alfresco-content-services-alfresco-search-enterprise-path.yaml
  - path: patch-security-contexts/alfresco-content-services-filestore.yaml
  - path: patch-security-contexts/alfresco-content-services-imagemagick.yaml
  - path: patch-security-contexts/alfresco-content-services-libreoffice.yaml
  - path: patch-security-contexts/alfresco-content-services-pdfrenderer.yaml
  - path: patch-security-contexts/alfresco-content-services-tika.yaml
  - path: patch-security-contexts/alfresco-content-services-transform-misc.yaml
  - path: patch-security-contexts/alfresco-content-services-transform-router.yaml
  - path: patch-security-contexts/alfresco-search-enterprise-mediation.yaml
  - path: patch-activemq-logging.yaml
  # Set filestore strategy to Recreate as we use a persistent volume with RWO access mode
  # We have to override the base config using this method as it doesn't support changing
  # the strategy type from RollingUpdate to Recreate using the strategic merge patch method.
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: alfresco-content-services-filestore
    patch: |-
      - op: remove
        path: /spec/strategy/rollingUpdate
      - op: replace
        path: /spec/strategy/type
        value: Recreate