name: Alfresco Database Migration

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Environment where db migration will be done"
        required: true
        type: choice
        options:
          - training
          - prod

jobs:
  db-migration:
    name: Run RDS Migration
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: eu-west-2

      - name: Setup kubectl
        uses: azure/setup-kubectl@v4
        with:
          version: 'v1.26.0'
        id: kubectl_install

      - name: Setup helm
        uses: azure/setup-helm@v4
        with:
          version: v3.14.0

      - name: Configure kubectl context
        run: |
          echo "${{ secrets.KUBE_CERT }}" > ca.crt
          kubectl config set-cluster ${KUBE_CLUSTER} --certificate-authority=./ca.crt --server="https://${KUBE_CLUSTER}"
          kubectl config set-credentials deploy-user --token="${{ secrets.KUBE_TOKEN }}"
          kubectl config set-context ${KUBE_CLUSTER} --cluster=${KUBE_CLUSTER} --user=deploy-user --namespace="${KUBE_NAMESPACE}"
          kubectl config use-context ${KUBE_CLUSTER}
        env:
          KUBE_NAMESPACE: ${{ secrets.KUBE_NAMESPACE }}
          KUBE_CLUSTER: ${{ secrets.KUBE_CLUSTER }}

      - name: Set vars
        id: vars
        shell: bash
        run: |
          set -euo pipefail
          ENV="${{ inputs.environment }}"
          NS="hmpps-delius-alfresco-${ENV}"
          echo "ns=$NS" >> $GITHUB_OUTPUT
          echo "env=$ENV" >> $GITHUB_OUTPUT

      # Check Kubernetes Secret exists for the job
      - name: Check Legacy RDS Credentials Exist
        run: |
          kubectl get secret legacy-rds-instance -n ${{ steps.vars.outputs.ns }}
        continue-on-error: false
        id: check_secret

      # Install Helm chart for migration job
      - name: Deploy Migration Job via Helm
        run: |
          helm upgrade --install db-migration ./jobs/migrate-db \
            --namespace ${{ steps.vars.outputs.ns }} \
            --set environment=${{ steps.vars.outputs.env }} \
            --set slackWebhookUrl=${{ secrets.SLACK_WEBHOOK_URL }} \
            --wait
